{% block meta %}
	<title>Converge - {{ article.title }}</title>
 	<meta name="description" content="{{ article.summary }}">
	<meta property="og:title" content="{{ article.title }}">
	{% if article.defaultImage %}
		<meta property="og:image" content="{{ article.defaultImage }}">
	{% endif %}
	<meta property="og:url" content="{{ article.url }}">
	<meta property="og:description" content="{{ article.summary }}">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="Converge">
{% endblock %}

{% extends 'default.twig' %}