<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,  initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="shortcut icon" href="/asset/img/favicon.png" type="image/png">
		<link rel="apple-touch-icon" href="/asset/img/ico.png">

		{% block meta %}{% endblock %}

		<!-- build:css c.css -->
			<link rel="stylesheet" type="text/css" href="/asset/css/reset.css">
			<link rel="stylesheet" type="text/css" href="/asset/css/base.css">
			<link rel="stylesheet" type="text/css" href="/asset/css/geometry.css">
			<link rel="stylesheet" type="text/css" href="/asset/css/type.css">
			<link rel="stylesheet" type="text/css" href="/asset/css/main.css">
			<link rel="stylesheet" type="text/css" href="/asset/css/article.css">
			<link rel="stylesheet" type="text/css" href="/asset/css/carousel.css">
		<!-- endbuild -->

		<link rel="alternate" type="application/rss+xml" href="/feed.rss">

		<!-- build:js j.js -->
			<script src="/asset/js/Modernizr.js"></script>
			<script src="/asset/js/Core.js"></script>
		<!-- endbuild -->
	</head>
	<body class="{{ mode }} first-run">
		<header class="main-header">
			<h1>Converge</h1>
		</header>

		<div class="wrap-bottom loaded" style="{% if article.cover %}background-image: url({{ article.cover }}){% endif %}"></div>

		<div class="wrap-top">
			<div class="tags-scroller-holder">
				<section class="tags-scroller swiper-container">
					<div class="swiper-wrapper">
						<ul class="tag-list swiper-slide">
							{% for tag in site.featuredTags %}
								<li><a href="/{{ tag }}" data-tag="{{ tag }}">{{ tag }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</section>
			</div>

			<div class="posts-scroller-holder">
				<section class="posts-scroller swiper-container">
					<nav class="swiper-wrapper">
						<div class="swiper-slide">
							<a class="icon-arrow-left resp-link" id="back-to-tags" href="/">Tags</a>
							<ul class="posts-list">
								{% for post in posts %}
									<li>
										<a href="/{{ post.url }}" rel="bookmark">{{ post.title }}</a>
									</li>
								{% endfor %}
							</ul>
							<a class="icon-plus resp-link more-posts" style="{% if moreItems <= 0 %}display: none{% endif %}" href="/{{ currentTag }}/{{ moreItems }}" data-tag="{{ currentTag }}" data-page="{{ moreItems }}">More posts</a>
						</div>
					</nav>
				</section>
			</div>
			{# % if mode == 'posts' %}
				{% autoescape false %}
					<script>
						var state = {
							currentTag: '{{ currentTag }}',
							posts: {{ posts|json_encode }},
							pagesCount: {{ pagesCount }},
							page: {{ page }},
							moreItems: {{ moreItems }}
						};
						{% set url = '/' + currentTag %}
						{% if page > 0 %}
							{% set url = url + '/' + page %}
						{% endif %}
						Converge.setCurrentTag('{{ currentTag }}');
						history.replaceState(state, 'Converge - &laquo; {{ currentTag }} &raquo; tagged articles', '{{ url }}');
					</script>
				{% endautoescape %}
			{% endif % #}


			<div class="article-scroller-holder">
				<div class="article-scroller swiper-container">
					<div class="swiper-wrapper">
						<article class="article-slide swiper-slide">
							{% if article %}
								<div id="article-html">{% include '../partial/article.twig' %}</div>
							{% endif %}
						</article>
					</div>
				</div>
			</div>
		</div>

		<div id="carousel" class="swiper-container">
			<button class="icon-close"><span class="hidden">Close carousel</span></button>
			<div class="swiper-wrapper"></div>
			<ul class="pagination"></ul>
		</div>

		<footer class="main-footer">
			<ul>
				<li class="flt"><a href="/about">About</a></li>
				<li class="flt"><a href="/contact">Contact</a></li>
			</ul>
		</footer>
	</body>
</html>
